body,
html{
    width: 100%;
    height: 100%;
    font-family: 'Patrick Hand', cursive;
    background: url(chainsaw.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
hr{
    margin: 20px auto;
    color: #e27555;
    border: 3px solid #e27555;
    max-width: 65px;
    opacity: 1;
}
.btn {
    font-weight: 700;
    border-radius: 300px;
    text-transform: uppercase;
}
.btn-primary{
    background-color: #e27555;
    border-color: #e27555;
}
.btn-primary:hover{
    background-color: #cc2e10;
    border-color: #cc2e10;
    border-width: 4px;
}
.btn-xl{
    padding: 1rem 2rem;
}
